@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles to hide scrollbar globally but allow scrolling */
body::-webkit-scrollbar {
  display: none; /* Hide scrollbar for WebKit browsers (e.g., Chrome, Safari) */
}

html, body {
  -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
  scrollbar-width: none;  /* Hide scrollbar for Firefox */
}


.comic-grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding-left: 1rem; /* Set left padding */
    padding-right: 1rem; /* Set right padding */
}
.comic-panel {
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
    position: relative;
}
  
.comic-panel:hover {
transform: scale(1.05); /* Grow on hover */
box-shadow: 10px 25px 10px #000; /* Smaller shadow on hover */
}

.project-panel {
    position: relative;
    height: 90vh; /* Full screen height */
    width: 100%; /* Full screen width */
    overflow: hidden;
}


.image-container {
    position: relative;
    height: 100%;
    width: 100%;
}
  
.project-image {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover; /* Ensures the image covers the container while maintaining aspect ratio */
    transition: transform 0.3s ease, filter 0.5s ease;
}
  
.project-panel:hover .project-image {
    filter: grayscale(100%);
    transform: scale(1.1); /* Zoom in effect */
}
  
.text-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    padding: 20px;
    transform: translateY(100%);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
  
.project-panel:hover .text-container {
    transform: translateY(0);
    opacity: 1;
}
  
.description {
    margin-bottom: 1rem;
}
  
.view-project-link {
    color: #1d4ed8;
    text-decoration: underline;
}  

.pixel-button {
    font-family: 'Press Start 2P', sans-serif; /* Pixelated font */
    font-size: 16px;
    color: #ffffff;
    background-color: #000000;
    padding: 10px 20px;
    border: 4px solid #ffffff;
    box-shadow: 4px 4px 0 #888888;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    transition: background-color 0.2s, transform 0.2s, box-shadow 0.2s;
}

.orange{
  color: #ff2f11;
}

.pixel-button:hover {
    background-color: #333333;
}

.pixel-button:active {
    transform: translate(4px, 4px);
    box-shadow: 0 0 0 #888888;
}

.fork-btn {
    font-size: 1.1em ;
    padding-top: 10px ;
}
  
.fork-btn-inner {
    line-height: 1.4em ;
    background-color: #934cce5e ;
    padding: 0.25rem 1.1rem ;
    vertical-align: middle ;
    text-align: center ;
}
  
.fork-btn-inner:hover {
    transform: translateY(-2px) ;
    background-color: #a24dd386 ;
    border-color: #a24dd386 ;
}
.fork-btn-inner::after {
    display: none ;
}
.hover-underline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #FFA500; /* Set underline color */
    transform: scaleX(0); /* Initially scale the underline to 0 */
    transition: transform 0.3s ease; /* Add a transition effect */
}
  
.hover-underline:hover::after {
    transform: scaleX(1); /* Scale the underline to full width on hover */
}